# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://igboerxkjwvyysowwwfx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlnYm9lcnhrand2eXlzb3d3d2Z4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE0MTc3NzMsImV4cCI6MjA3Njk5Mzc3M30.U54PWqZjO709tcd4ctAy1mMdTXJuMNGHXq_JrckhiFc

